<!DOCTYPE html>

{% extends "neighborhood_app/base.html" %}
  {% block content %}
      <p> </p>

      <h1> Neighborhood Resources? What's That? </h1>

      <p> </p>

      <h4>The Neighborhood Resources of Highland Oaks is an exceptional team of five dedicated middle school students committed to enhancing the community and providing top-notch support. Our proficiency and commitment ensure unparalleled quality and the fulfillment of all your requirements. Funny enough, the journey began as a lighthearted joke on our way home from the community pool, gradually evolving into the remarkable and impactful group we are today, devoted to serving our neighborhood with excellence in everything.</h4>
  {% endblock %}