{% extends "neighborhood_app/base.html" %}
  {% block content %}
      <p> </p>

      <h1>Credits & More</h1>

      <p> </p>

      <p> The website was created by Micah J. Williams utilizing the Django framework, along with Python, CSS, and Javascript. </p>

      <ul>
      <p><a class="link-opacity-100" href="https://github.com/byteboyMW/neighborhoodresourceswebsite">Click here to view the code on github.</a></p>
      </ul>

      <p> Bootstrap used for cleanliness and visual appeal.</p>

      <ul>
        <p><a class="link-opacity-100" href="https://getbootstrap.com/">Click here for the documentation.</a></p>
      </ul>

      <p> "The Neighborhood Resources" isn't a formally registered business, so it lacks copyright or trademark protection.</p>
      <p> However, we kindly ask that you refrain from using this name for your own business within the Highland Oaks neighborhood. </p>

      <h4> Have more questions? Feel free to reach us at the following phone numbers:</h4>

      <p> </p>

      <ul>
        <p> Malachi W: <b>(470) 923-9186</b></p>
        <p> Matteo O: <b>(770) 840-5107</b></p>
      </ul>

      <p>Text us anytime for additional inquiries or information!</p>
  {% endblock %}