{% extends "neighborhood_app/base.html" %}
  {% block content %}
      <p> </p>

      <div class="container-fluid">
      <div class="card bg-dark">
        <div class="card-header">
          September 4th, 2023
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>David, Samuel, Micah, and Malachi, young kids in the neighborhood, showed up at my door this morning asking to wash my cars for money. They presented
              themselves more professionally than most adults, so I have them a shot. They are young but worked really hard. I had them vacuum my cars too. Money
              well spent. I like to encourage that sort of entrepreneurship and hard work in kids. If you need your car washed, call them...
            </p>
            <footer class="blockquote-footer">Ptony Mirabile from the <cite title="Source Title">Highland Oaks Residents</cite> Facebook page.</footer>
          </blockquote>
        </div>
      </div>
    </div>
  {% endblock %}