{% extends "neighborhood_app/base.html" %}
  {% block content %}

    <p> </p>
    <h1>Hey! Here are some of the updates on the Post Board.</h1>
    <p></p>

  <div class="centerstage">
    {% for post in post_list %}
      <h1><a href="{% url 'neighborhood_app:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      <p></p>
      <div class="date">
        <p><b>Published on: {{post.published_date|date:"m/d/Y"}}</b></p>
      </div>

      <a href="{% url 'neighborhood_app:post_detail' pk=post.pk%}"><b>Publisher: {{post.author}}</b></a>
    {% endfor %}
  </div>
  {% endblock %}