{% extends "neighborhood_app/base.html" %}
  {% block content %}
      <p> </p>

      <h1>Answers to Your Questions</h1>

      <ul>
        <h4>What grades are you guys in?</h4>
        <p> </p>
        <h5>- Unfortunately, we can't share that information as it's considered personal.</h5>
        <p> </p>
        <h4>Whose number(s) can I call to answer my questions?</h4>
        <p> </p>
        <h5>- You can find our contact numbers listed in the credits and more page on our site.</h5>
        <p> </p>
        <h4>What forms of payment do you accept?</h4>
        <p> </p>
        <h5>- We accept payments via Cash App and cash. However, we don't use Venmo.</h5>
        <p> </p>
        <h4>Can I leave a tip for good service?</p>
        <p> </p>
        <h5>- Absolutely! Tips for excellent service are appreciated.</h5>
        <p> </p>
        <h4>What are your working hours?</h4>
        <p> </p>
        <h5>- During the summer break (May-July), we operate from early morning to evening. However, during the school year, we do not work on weekdays.</h5>
        <p> </p>
        <h4>Will you be working outside of Highland Oaks?</h4>
        <p> </p>
        <h5>- No, our services are exclusively offered within the Highland Oaks area.</h5>
      </ul>
  {% endblock %}