{% extends "neighborhood_app/base.html" %}
  {% block content %}
    <p> </p>

      <h1> Five Individuals... Who Are They? </h1>

      <p> </p>
      
      <ul style="list-style-type:circle;">
        <h2> Micah J. Williams <h4> 
            <ul style="list-style-type:disc;">
            <li>Website Creator</li>
            <li>Skilled Car Washer</li>
            <li>Decent Leaf Raker</li>
            </ul></h4>
        </h2>

        <p> </p>

        <h2> Malachi D. Woods <h4> 
            <ul style="list-style-type:disc;">
            <li>Business Creator</li>
            <li>Supplies the Best Car Washing Equipment</li>
            <li>Handy with Leaf Raking/Blowing; Might Ring Your Doorbell</li>
            </ul></h4>
        </h2>

        <h2> Matteo Odales <h4> 
            <ul style="list-style-type:disc;">
            <li> Chill Dude </li>
            <li> Excellent Car Washer </li>
            <li> Efficient Leaf Raker and Blower</li>
            </ul></h4>
        </h2>

        <h2> David Ilnytskyy (Ill-knit-ski)<h4> 
            <ul style="list-style-type:disc;">
            <li> Isn't Out Working Often </li>
            <li> Proficient Car Washer </li>
            <li> Shorter than his brother (even though he's two years older) </li>
            </ul></h4>
        </h2>

        <h2> Samuel (Sam) Ilnytskyy<h4> 
            <ul style="list-style-type:disc;">
            <li> Same as his brother, but taller </li>
            </ul></h4>
        </h2>
    </ul>
  {% endblock %}